@charset "UTF-8";
secheading ,secheading-s
{
    font-size: 34px;
    color: #08817c;
    font-weight: bolder;
}
secheading-s
{
    font-size: 26px;
    font-weight: bold;
}
p
{
    font-size: 18px;
    font-weight: 400;
    word-spacing: 1px;
}