@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Nunito:wght@800&display=swap');

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: transitionIn 5.75s;
  }

  .container
  {
    width: 80vw;
    height: 92vh;
    background: #e3e7f3;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: trans
  }
  .vl
  {
    border-left: 3px solid rgb(253, 253, 253);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    height: 70vh;
    animation: transitionIn 5.75s;
  }
  .dimg
  {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .sidecon
  {
    display: flex;
    flex-direction: column;
    margin: 2% 6%;
    width: 60%;
    padding: 0px 2%;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
  }
  .inp
  {
    display: flex;
    padding: 8px;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .inp input,textarea
  {
    padding: 12px 15px;
    font-size: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    width: 350px;
    border: none;
  }
  .inp label
  {
    font-weight: 600;
    display: flex;
    justify-content: end;
    width: auto;
    align-items: center;
  }
  .inp input:focus
  {
    outline: none;
  }
  .btn{
    background: #088178;
    padding: 10px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    width: 160px;
    margin:15px 0px 25px 0px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
  }
  .btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  span{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 10px;
  }
  h1{
    font-weight: bolder;
  }
  @keyframes transitionln {
    from {
    opacity: e;
    transform: rotateX(-10deg) ;
    }
    to {
    opacity: 1 ;
    transform: rotateX(0);
    }
}
.inp ss input
{
	box-shadow: none;
}
